

.movie{
    width: 10em;
    height: 10em;
    margin: 0.5em;
}

.poster{
    width: 8em;
    height: 12em;
}

.titleYear{

}

.title{
    font-size: 14px;
}

.year{
    font-size: 10px;
}

.addToListBtn{
    bottom: 0;
}