

.movie{
    width: 14em;
    height: 15em;
    margin: 0.5em;
    
}

.poster{
    width: 8em;
    height: 12em;
}

.titleYear{
    height: 3em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title{
    font-size: 14px;
}

.year{
    font-size: 10px;
}

.addToListBtn{
    bottom: 0;
}