.m__header {
	&__logo-title {
		height: 100px;
		background-color: var(--dark-background);

		h1 {
			color: var(--white);
		}
		img {
			height: 60%;
		}
	}

	.MuiButtonGroup-root {
		border-radius: 0px;
	}

	&__site-nav {
		flex-wrap: wrap;
		justify-content: center;
		background-color: var(--dark-gray);
		border-radius: 0px;
	}
}
